<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Data</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img th:src="@{/images/signup-img.jpg}" alt="">
                </div>
                <div class="signup-form">
                    <form method="get" th:action="@{/allowances}" th:object="${allowance}" class="register-form" id="register-form">
                        <h2>View Data</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Allowance Id : </label>
                                <label th:text="${allowance.allowanceId}"></label>
                            </div>
                            
                        </div>
						<div class="form-group">
                                <label for="name">Allowance Name : </label>
                                <label th:text="${allowance.allowanceName}"></label>
                                
                            </div>
                            
                         <div class="form-group">
                                <label for="name">Allowance Description :</label>
                                <label th:text="${allowance.allowanceDescription}"></label>
                            </div>
                        
                        <div class="p-t-15">
                            <input type="submit" value="Back" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>