<!--  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Holiday Maintenance</title>
</head>


<body>
		  <h1>Holiday Form</h1>
    <div>
    <table class="table table-striped custom-table" style="border: 1px solid black;">
        <thead>
            <tr>
                <th scope="col">Holiday Id</th>
                <th scope="col"> Date</th>
                <th scope="col">Holiday Description</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="holiday: ${holidays}">
                <td th:text="${holiday.holidayId}"></td>
                <td th:text="${holiday.holidayDate}"></td>
                <td th:text="${holiday.holidayDescription}"></td>
              
           		<td><a th:href="@{/holiday/view/{id}(id=${holiday.holidayId})}">View</a></td>
				<td><a th:href="@{/holiday/edit/{id}(id=${holiday.holidayId})}">Edit</a></td>
				<td><a th:href="@{/holiday/{id}(id=${holiday.holidayId})}">Delete</a></td>
            </tr>	
        </tbody>
    </table>	
</div>

</body>
</html> -->
        
        
        
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Holiday Maintenance</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    
           
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Holiday Maintenance</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              
                            </th>
                           	<th scope="col">Holiday Id</th>
              			  	<th scope="col"> Date</th>
                	   	  	<th scope="col">Holiday Description</th>
                			<th scope="col">View</th>
                			<th scope="col">Edit</th>
                			<th scope="col">Delete</th>
               				<th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </td>
                            <td>
                              <img src="assets/images/faces/face1.jpg" alt="image" />
                             
                           <tr th:each="holiday: ${holidays}">
                <td th:text="${holiday.holidayId}"></td>
                <td th:text="${holiday.holidayDate}"></td>
                <td th:text="${holiday.holidayDescription}"></td>
              
           		<td><a th:href="@{/holiday/view/{id}(id=${holiday.holidayId})}">View</a></td>
				<td><a th:href="@{/holiday/edit/{id}(id=${holiday.holidayId})}">Edit</a></td>
				<td><a th:href="@{/holiday/{id}(id=${holiday.holidayId})}">Delete</a></td>
            
                          </tr>
                         
                     
                            
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
  </body>
</html> 
